<link rel="stylesheet" href="/public/css/reset.css">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card card-modify-reset shadow-sm">
            <div class="content-img-logo text-center">
                <a href="/"><img src="/public/img/favicon2.png" alt="Logo" class="img-logo"></a>
            </div>
            <div class="card-body">
                <h4 class="text-center mb-4">Restablecer Contraseña</h4>
                <form action="/resetPassword" method="post">
                    <input type="hidden" name="email" value="{{email}}">
                    <div class="mb-4 input-reset">
                        <input type="password" class="form-control" name="password" placeholder="Introduce tu nueva contraseña" required>
                    </div>
                    <div class="mb-4 input-reset">
                        <input type="password" class="form-control" name="password2" placeholder="Confirma tu nueva contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-design-reset mt-2">Restablecer Contraseña</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/">Volver al inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
